/*Брейкпоинты*/
$mobile: 'screen and (max-width: 375px)';

$tablet-min: 'screen and (min-width: 376px)';

$tablet-interval: '(min-width: 376px) and (max-width: 768px)';

$tablet-max: 'screen and (max-width: 768px)';

$desktop: 'screen and (min-width: 769px)';

$desktop-interval: '(min-width: 769px) and (max-width: 1196px)';

$desktop-min: 'screen and (min-width: 1196px)';